NEXT_PUBLIC_SUPABASE_URL=https://zziupfzzbcnskhmgotxs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=your_wompi_key_here
NEXT_PUBLIC_ADMIN_EMAILS=fredy.alandete@gmail.com,f.alandete@uniandes.edu.co
